
::-webkit-scrollbar{
  display:none;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app {
  display: flex;
  height: 100vh;
}
@media (max-width:900px) {
  .hidden {
  display: none !important;
}
}

